fieldset {
  border: 1px solid #000;
  color: #000;
  background-color: #d0d0d0;
}

fieldset fieldset {
  border: 1px solid #000;
  color: #000;
  background-color: #c0c0c0;
}

fieldset fieldset fieldset {
  border: 1px solid #000;
  color: #000;
  background-color: #b0b0b0;
}

table.userlisttable {
  border: 1px solid #000;
}

table.userlisttable th {
  background-color: #bbb;
}

table tr.evenrow {
  background-color: #efefef;
}

table tr.oddrow {
  background-color: #dedede;
}

